﻿@model MovieApp.Models.Customer

@{
    ViewBag.Title = "_NewCustomer";
}
<div class="modal" id="newCustomer" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="myContent">
            <div class="modal-header modalHeader">
                <button type="button" class="close closed" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Customer</h4>
            </div>
            <div class="modal-body modalBody" id="divModalBody">
                <form id="form">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.Birthday)
                        @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Birthday)
                    </div>

                    @Html.HiddenFor(m => m.Id)
                </form>
            </div>
            <div class="modal-footer" id="modalFooter">
                <button class="btn btn-success btn-md" type="submit" id="save" onclick="save()"><i class="glyphicon glyphicon-check"></i>Save</button>
                <button type="button" class="btn btn-danger closed" data-dismiss="modal" onclick="close()"><i class="glyphicon glyphicon-remove"></i> Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        
    </script>
}


