﻿@model MovieApp.ViewModels.NewMovieViewModel
@{
    ViewBag.Title = "_NewMovie";
}
<div class="modal" id="newMovie" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="myContent">
            <div class="modal-header modalHeader">
                <button type="button" class="close closed" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Movie</h4>
            </div>
            <div class="modal-body modalBody" id="divModalBody">
                <form id="form">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.Name)
                        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Movie.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.ReleaseDate)
                        @Html.TextBoxFor(m => m.Movie.ReleaseDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Movie.ReleaseDate)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.DateAdded)
                        @Html.TextBoxFor(m => m.Movie.DateAdded, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Movie.DateAdded)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.GenreId)
                        @Html.DropDownListFor(m => m.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Movie.GenreId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Movie.NumberInStock)
                        @Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Movie.NumberInStock)
                    </div>
                    @Html.HiddenFor(m => m.Movie.Id)
                </form>
            </div>
            <div class="modal-footer" id="modalFooter">
                <button class="btn btn-success btn-md" type="submit" id="save" onclick="save()"><i class="glyphicon glyphicon-check"></i>Save</button>
                <button type="button" class="btn btn-danger closed" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


