﻿@model IEnumerable<MovieApp.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<button class="aslink modal-link btn btn-primary" data-toggle="modal"
        data-target="#newMovie" id="btnNewMovie">
    Add Movie
</button><br />
<br />
@if (Model != null)
{
<table id="movies" class="table table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
        <tr>
            <th>@movie.Name</th>
            <th>@movie.Genre.Name</th>
            <th>@movie.ReleaseDate</th>
            <th>
                <button data-movie-id="@movie.Id" class="btn btn-danger btn-md js-delete">Delete</button>
            </th>
        </tr>
        }
    </tbody>
        
</table>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");

    <script>
        $(document).ready(function () {
            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this movie")) {
                        $.ajax({
                            url: "/Movies/Delete/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                                location.reload();
                            }
                        });
                    }
                });

            $("#btnNewMovie").on("click", function () {
                var url = "/Movies/Create/";
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        $(data).appendTo('body').modal();
                    }

                });
            });
        });

        function save() {
            var forma = $("#form");
            forma.removeData("validator").removeData("unobtrusiveValidation");//remove the form validation
            $.validator.unobtrusive.parse(forma);//add the form validation
            var formData = $("#form").serialize();
            $.ajax({
                method: "POST",
                url: "/Movies/Save",
                data: formData,
                success: function (errData) {
                    if (forma.valid()) {
                        $('#newMovie').modal('hide');;
                        location.reload();
                    }
                    else {
                        $('#newMovie').modal('hide');;
                        $(errData).appendTo('body').modal();
                    }
                },
                error: function () {
                    console.log("test");
                }
            });
        }
        function close() {
            $('#newMovie').modal('toggle');
        }
    </script>
}
