﻿@model MovieApp.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<p>Membership Type: @Model.TypeOfMembership.Name</p>
<p>Birthday: @Model.Birthday</p>

