﻿@model IEnumerable<MovieApp.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customers</h2>
<br />
<button class="aslink modal-link btn btn-primary" data-toggle="modal"
        data-target="#newCustomer" id="btnNewCustomer">
    Add Customer
</button>
@if (Model != null)
{
    <br />

    <table id="customers" class="table table-hover text-center">
        <thead>
            <tr>
                <th>Customers</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <th>@customer.Name</th>
                    <th>
                        <button data-customer-id="@customer.Id" class="btn btn-danger btn-md delete">Delete</button>
                    </th>
                </tr>

            }
        </tbody>
    </table>

}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        $(document).ready(function () {
            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this customer")) {
                    $.ajax({
                        url: "/Customers/Delete/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                            location.reload();
                        }
                    });
                }


            });

            $("#btnNewCustomer").click(function () {
                var url = "/Customers/Create/";
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        $(data).appendTo('body').modal();
                    }

                });


            });
        });
        function save() {
            var forma = $("#form");
            forma.removeData("validator").removeData("unobtrusiveValidation");//remove the form validation
            $.validator.unobtrusive.parse(forma);//add the form validation
            var formData = $("#form").serialize();
            $.ajax({
                method: "POST",
                url: "/Customers/Save",
                data: formData,
                success: function (errData) {
                    if (forma.valid()) {
                        $(this).closest('#newCustomer').modal('hide');;
                        location.reload();
                    }
                    else {
                        $(this).closest('#newCustomer').modal('hide');;
                        $(errData).appendTo('body').modal();
                    }
                },
                error: function () {
                    console.log("test");
                }
            });
        }

        function close() {
            $('#newCustomer').modal('hide');
        }
    </script>
}
